
#about {
    display: flex;
    flex-direction: column; /* Keeps content in a vertical flow */
    align-items: center; /* Centers the content for a polished look */
    padding: 40px;
  }
  
.book-icon {
  width: 2.5rem;
}

  #about h2 {
    font-size: 2em; /* A good size that stands out but isn't too overwhelming */
    /* margin-bottom: 20px; */
     /* Adds some space between the title and the paragraph */
  }
  
  #about p {
    max-width: 1250px; /* Keeps text lines at a comfortable reading length */
    text-align: justify; /* Aligns text for a neat, uniform appearance */
    font-size: 1.4em; /* A readable size that's not too small or too large */
    line-height: 1.6; /* Enhances readability */
    margin-top: 20px;
  }


  
  /* Ensures the about section looks great even on smaller screens */
  @media only screen and (max-width: 600px) {
    #about {
      padding: 2em;
    }
  
    #about h2 {
      font-size: 1em; /* Slightly smaller to fit smaller screens better */
    }
  
    #about p {
      max-width: 100%; /* Allows the paragraph to use up the available width */
      padding-top: 10px;
      font-size: 0.8em;
    }
  }