/* Home Section */
#home {
    padding: 2em 1em; /* 40px 20px */
    padding-top: 6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /* Introduction */
  .intro {
    margin-right: 1em; /* 20px */
  }
  
  /* Welcome Text */
  .Welcome {
    font-size: 3.6em; /* 28px */
    font-weight: bold;
  }
  
  /* Name Text */
  .name {
    font-size: 2.4em; /* 24px */
  }
  
  /* Image Section */
  .Image-section {
    margin-left: 5em; /* 20px */
  }
  
  /* Guy Coding Image */
  .guy-coding {
    max-width: 100%;
    width: 425px;
  }
  
  /* Media Query for Mobile Screens */
  @media only screen and (max-width: 600px) {
    #home {
      flex-direction: column; /* Stack elements vertically on smaller screens */
      align-items: center;
      padding-top: 1em;
    }
    
    .intro {
      margin-right: 0; /* Remove margin on smaller screens */
      margin-bottom: 1em; /* Add margin bottom for spacing on smaller screens */
    }

    .Welcome {
        font-size: 2em;
    }

    .name {
        font-size: 1.2em;
    }
    
    .Image-section {
      margin-left: 0; /* Remove margin on smaller screens */
      margin-top: 1em; /* Add margin top for spacing on smaller screens */
    }

    .guy-coding {
        width: 250px;
    }
  }
  