/* Navbar Container */
.header {
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it appears above other content */
  }
  
  /* Navbar Inner Container */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Navbar Title Text */
  .title-text {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: inherit; /* Inherit the color from parent */
  }
  
  /* Navbar Navigation */
  .nav {
    display: flex;
    align-items: center;
  }
  
  /* Navbar Navigation Item */
  .nav-item {
    margin-left: 20px;
    font-size: 1.25em;
    text-decoration: none;
    color: inherit; /* Inherit the color from parent */
  }
  
  /* Navbar Navigation Item Hover Effect */
  .nav-item:hover {
    text-decoration: underline;
  }
  
  /* Media Query for Mobile Screens */
  @media only screen and (max-width: 600px) {

    .container {
      padding: 0 10px; /* Adjust padding for smaller screens */
    }

    .title-text {
        font-size: 1em;
    }
    
    .nav-item {
      font-size: 0.9em; /* Adjust font size for smaller screens */
    }
  }
  