.intro-Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  padding-bottom: 10px;
}

.container-Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75em; 
  margin: 0 auto;
  padding: 1.25em; 
  padding-top: 0em;
}



.code-icon-Projects {
  width: 3.125em; 
  height: 3.125em;
}

.title-Projects {
  font-size: 2em;
}


.display-Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25em; 
}

.project-Projects {
  text-decoration: none;
  color: inherit;
  border: 0.0625em solid #ccc; 
  overflow: hidden;
  border-radius: 0.5em; 
  width: 27em; 
  transition: transform 0.2s;
}

.project-Projects:hover {
  transform: scale(1.05);
}


.section-Projects {
  display: flex;
  flex-direction: column;
}

.image-section-Projects {
  width: 100%;
  height: auto;
}

.info-section-Projects {
  padding: 0.625em; 
}

.title-of-project-Projects {
  font-size: 1.5em;
  margin: 0.625em 0; 
}

.description-Projects {
  font-size: 1em;
}

.GitHub-link-Projects {
  padding-top: 2em;
}

@media only screen and (max-width: 600px) {
  .display-Projects {
      gap: 1em; 
  }

  .project-Projects {
      width: 100%; 
  }

  .info-section-Projects {
      padding: 0.5em; 
  }

  .title-of-project-Projects, .description-Projects {
      padding: 0 0.5em;
  }
}
