.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75em; 
  margin: 0 auto;
  padding: 1.25em; 
}

.intro {
  display: flex;
  align-items: center;
  gap: 0.625em; 
  margin-bottom: 1.25em; 
}

.code-icon {
  width: 3.125em; 
  height: 3.125em;
}

.title {
  font-size: 2em;
}


.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25em; 
}

.project {
  text-decoration: none;
  color: inherit;
  border: 0.0625em solid #ccc; 
  overflow: hidden;
  border-radius: 0.5em; 
  width: 18.75em; 
  transition: transform 0.2s;
}

.project:hover {
  transform: scale(1.05);
}


.section {
  display: flex;
  flex-direction: column;
}

.image-section {
  width: 100%;
  height: auto;
}

.info-section {
  padding: 0.625em; 
}

.title-of-project {
  font-size: 1.5em;
  margin: 0.625em 0; 
}

.description {
  font-size: 1em;
}

@media only screen and (max-width: 600px) {
  .display {
      gap: 0.5em; 
  }

  .project {
      width: 100%; 
  }

  .info-section {
      padding: 0.5em; 
  }

  .title-of-project, .description {
      padding: 0 0.5em;
  }
}
