.container {
    padding: 2rem 1.25rem;
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
    margin-bottom: 5rem;
  }
  
  .icon {
    width: 2.5rem;
    margin-bottom: 1rem;
    padding-top: 40px;
    padding-left: 40px;
    
  }
  
  .title {
    font-size: 36px; /* Adjust for sm: using media queries if necessary */
    /* font-weight: 500; */
    color: white;
    margin-bottom: 1rem;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
  }
  
  .description {
    font-size: 1rem;
    line-height: 1.625;
    margin: 0 auto;
    width: 50%; /* Adjust for lg: and xl: using media queries if necessary */
  }
  
  .skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .skill {
    padding: 1rem;
    width: calc(50% - 2rem);
    display: flex;
    align-items: center;
    background-color: #7E57C2;
    border-radius: 0.25rem;
    margin: 1rem;
  }
  
  .skill-icon {
    color: red;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    margin-right: 1rem;
    background-color: transparent;
  }
  
  .skill-text {
    color: white;
    font-weight: 500;
    background-color: transparent;
  }
  