/* Skills Section Container */
#skills {
    display: flex;
    flex-direction: column; /* Keeps content in a vertical flow */
    align-items: center; /* Centers the content for a polished look */
    padding: 40px;
  }
  
  /* Skills Title */
  .title {
    font-size: 2em; /* A good size that stands out but isn't too overwhelming */
    font-weight: bold;
    margin-bottom: 20px; /* Adds some space between the title and the skills */
  }
  
  /* Chip Icon */
  .icon {
    width: 2.5rem; /* Adjust width to match the about icon */
  }
  
  /* Skills Wrapper */
  .skills-wrapper {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the min width and fraction to change column layout */
    gap: 4.5em; /* Adjust gap as needed */
    justify-items: flex-start; /* Align items to the beginning */
  }
  
  /* Individual Skill */
  .skill {
    display: flex;
    align-items: center;
  }
  
  /* Skill Icon */
  .skill-icon {
    width: 3em; /* 32px */
    height: 3em; /* 32px */
    margin-right: 0.5em; /* 10px */
  }
  
  /* Skill Text */
  .skill-text {
    font-size: 1.75em; /* A readable size that's not too small or too large */
  }
  
  /* Media Query for Mobile Screens */
  @media only screen and (max-width: 600px) {

    .skills-wrapper {
        margin-top: 2em;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Adjust the min width and fraction to change column layout */
        gap: 2em; /* Adjust gap as needed */
        justify-items: flex-start; /* Align items to the beginning */
      }

      .skill-icon {
        width: 2em; /* 32px */
        height: 2em; /* 32px */
        margin-right: 0.5em; /* 10px */
      }

      .skill-text {
        font-size: 1.15em; /* A readable size that's not too small or too large */
      }
  }
  